.stockform__form {
  display: flex;
  width: 400px;
  align-items: center;
}

.stockform__formField {
  padding: 500px;
}

.MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl {
  border-radius: 20px;
  background-color: white;
  margin-right: 12px;
}

/* .MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.Mui-focused.MuiInputBase-formControl {
  border-radius: 20px;
} */

.Mui-selected:focus {
  outline: none;
}
